<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Documan Islemleri</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <a href="{{ url_for('menu') }}">
        <h1 id="cool-title">Documan Islemleri</h1>
    </a>

    <h2>Documan Numarasi ile Ara</h2>
    <form action="{{ url_for('search_document') }}" method="post">
        <input type="number" id="search_id" name="search_id" required placeholder="documan numarasi">
        <input type="submit" value="ara">
    </form>

    <h2>Search Result:</h2>

    <h2>Yeni Document Ekle Veya Güncelle</h2>
    <form action="{{ url_for('add_product') }}" method="post">
        <input type="number" id="prinOrderId" name="prinOrderId" required placeholder="siparis numarasi"><br>
        <input type="number" id="receiptId" name="receiptId" required placeholder="fatura numarasi"><br>
        <input type="text" id="fileContent" name="fileContent" required placeholder="dosya icerigi"><br>
        <input type="number" id="quantity" name="quantity" placeholder="sayi"><br>
        <input type="submit" value="Ekle veya Güncelle">
    </form>

    <br>

    {% if result %}
        <strong style="color: red;">DocumentId:</strong> {{ result.DocumentId }} - 
        <strong style="color: red;">FileContent:</strong> {{ result.FileContent }} - 
        <strong style="color: red;">Quantity:</strong> {{ result.Quantity }} - 
        <strong style="color: red;">PrintOrderId:</strong> {{ result.PrintOrderId }}          
    {% else %}
        <p>Belirtilen ItemId ile eşleşen veri bulunamadı.</p>
    {% endif %}
    {% if result %}
        <h2>Arama Sonucu</h2>
        <strong>DocumentId:</strong> {{ result.DocumentId }} - 
        <strong>FileContent:</strong> {{ result.FileContent }} - 
        <strong>Quantity:</strong> {{ result.Quantity }} - 
        <strong>PrintOrderId:</strong> {{ result.PrintOrderId }}          
    {% else %}
        {% if result is not defined %}
        {% else %}
            <p>Belirtilen calisan numarasi ile eşleşen veri bulunamadı.</p>
        {% endif %}
    {% endif %}

    <br>

    <h2>Güncel Veritabanı Verileri</h2>
    <table>
        <tr>
            <th>DocumentId</th>
            <th>FileContent</th>
            <th>Quantity</th>
            <th>PrintOrderId</th>
        </tr>
        {% for document in all_data %}
        <tr>
            <td>{{ document.DocumentId }}</td>
            <td>{{ document.FileContent }}</td>
            <td>{{ document.Quantity }}</td>
            <td>{{ document.PrintOrderId }}</td>
        </tr>
        {% endfor %}
    </table>
     
</body>
</html>
