<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AliAbiShop</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>

    <a href="{{ url_for('menu') }}" style="text-decoration: none;">
        <h1 id="cool-title">Ali Abi Shop</h1></a>

    <form action="{{ url_for('search_item') }}" method="post">
        <label for="search_id">ItemId ile Ara:</label>
        <input type="number" id="search_id" name="search_id" required>
        <input type="submit" value="Ara">
    </form>


    <h2>Search Result:</h2>

    {% if result %}
        <strong style="color: red;">ItemId:</strong> {{ result.ItemId }} - 
        <strong style="color: red;">ProductId:</strong> {{ result.ProductId }} - 
        <strong style="color: red;">ReceiptId:</strong> {{ result.ReceiptId }} - 
        <strong style="color: red;">DateBought:</strong> {{ result.DateBought }} -
        <strong style="color: red;">DateSold:</strong> {{ result.DateSold }} - 
        <strong style="color: red;">SellingPrice:</strong> {{ result.SellingPrice }} - 
        <strong style="color: red;">ArrivalPrice:</strong> {{ result.ArrivalPrice }} - 
        <strong style="color: red;">IsSold:</strong> {{ result.IsSold }} 
    {% else %}
        <p>Belirtilen ItemId ile eşleşen veri bulunamadı.</p>
    {% endif %}

    <br>


    



    <h2>Yeni Veri Ekle & Güncelle</h2>
    <form action="{{ url_for('add_item') }}" method="post">
        <label for="itemId">ItemId:</label>
        <input type="number" id="itemId" name="itemId" required><br>

        <label for="productId">ProductId:</label>
        <input type="number" id="productId" name="productId" required><br>

        <label for="receiptId">ReceiptId:</label>
        <input type="number" id="receiptId" name="receiptId" ><br>

        <label for="dateBought">DateBought:</label>
        <input type="date" id="dateBought" name="dateBought" required><br>

        <label for="dateSold">DateSold:</label>
        <input type="date" id="dateSold" name="dateSold" ><br>

        <label for="sellingPrice">SellingPrice:</label>
        <input type="number" id="sellingPrice" name="sellingPrice" ><br>

        <label for="arrivalPrice">ArrivalPrice:</label>
        <input type="number" id="arrivalPrice" name="arrivalPrice" required><br>

        <label for="isSold">IsSold:</label>
        <input type="checkbox" id="isSold" name="isSold" value="true">
        <br>
        <input type="submit" value="Ekle&Güncelle">
    </form>
    

    
    <h2>Item Sil</h2>
    <form action="{{ url_for('delete_item') }}" method="post">
        <label for="deleteId">ItemId:</label>
        <input type="number" id="deleteId" name="deleteId" required><br>

        <input type="submit" value="Sil">
    </form>
    
    <br>




    <h2>Güncel Veritabanı Verileri</h2>


    
    <ul>
        {% for item in all_data %}
            <li>
                <strong style="color: red;">ItemId:</strong> {{ item.ItemId }} - 
                <strong style="color: red;">ProductId:</strong> {{ item.ProductId }} - 
                <strong style="color: red;">ReceiptId:</strong> {{ item.ReceiptId }} - 
                <strong style="color: red;">DateBought:</strong> {{ item.DateBought }} -
                <strong style="color: red;">DateSold:</strong> {{ item.DateSold }} - 
                <strong style="color: red;">SellingPrice:</strong> {{ item.SellingPrice }} - 
                <strong style="color: red;">ArrivalPrice:</strong> {{ item.ArrivalPrice }} - 
                <strong style="color: red;">IsSold:</strong> {{ item.IsSold }} 
            </li>
        {% endfor %}
    </ul>
    
    

</body>
</html>


