<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>AliAbiShop</title>
</head>
<body>

    <a href="{{ url_for('index') }}" style="text-decoration: none;">
        <h1 id="cool-title">Ali Abi Shop</h1></a>

    <div>
        <p>Employee işlemleri için tıklayınız: </p>
        <form action="{{ url_for('employee') }}">
            <input type="submit" value="Employee" />
        </form>
    </div>


    <div>
        <p>Customer işlemleri için tıklayınız: </p>
        <form action="{{ url_for('customer') }}">
            <input type="submit" value="Customer" />
        </form>
    </div>

    <div>
        <p>Item işlemleri için tıklayınız: </p>
        <form action="{{ url_for('item') }}">
            <input type="submit" value="Item" />
        </form>
    </div>

    <div>
        <p>Product işlemleri için tıklayınız: </p>
        <form action="{{ url_for('product') }}">
            <input type="submit" value="Product" />
        </form>
    </div>

    <div>
        <p>Receipt işlemleri için tıklayınız: </p>
        <form action="{{ url_for('receipt') }}">
            <input type="submit" value="Receipt" />
        </form>
    </div>
    

</body>
</html>


