<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urun Islemleri</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <a href="{{ url_for('menu') }}">
        <h1 id="cool-title">Urun Islemleri</h1>
    </a>

    <h2>Urun Numarasi ile Ara</h2>
    <form action="{{ url_for('search_product') }}" method="post">
        <input type="number" id="search_id" name="search_id" required placeholder=urun numarasi"">
        <input type="submit" value="ara">
    </form>

    {% if result %}
        <div>
            <h2>Arama Sonucu</h2>
            <strong>ProductId:</strong> {{ result.ProductId }} - 
            <strong>Name:</strong> {{ result.Name }} - 
            <strong>Definition:</strong> {{ result.Definition }} - 
            <strong>Price:</strong> {{ result.Price }} TL 
        </div>
    {% else %}
        {% if result is not defined %}
        {% else %}
            <p>Belirtilen calisan numarasi ile eşleşen veri bulunamadı.</p>
        {% endif %}
    {% endif %}

    <br>

    <h2>Yeni Urun Ekle ve Güncelle</h2>
    <form action="{{ url_for('add_product') }}" method="post">
        <input type="number" id="productId" name="productId" required placeholder="urun numarasi"><br>
        <input type="text" id="productName" name="productName" required placeholder="isim"><br>
        <input type="text" id="productDefinition" name="productDefinition" required placeholder="tanim"><br>
        <input type="number" id="productPrice" name="productPrice" required placeholder="fiyat"><br>
        <label for="category">kategori seciniz:</label>
            <select id="category" name="category" required>
                <option value="notReq">seçiniz...</option>
                {% for category in all_categories %}
                    <option value="{{ category.Category }}">{{ category.Category }}</option>
                {% endfor %}
            </select>
            <p style="text-align: left">
            veya kendiniz giriniz:
            </p>
            <input type="text" id="categoryNotReq" name="categoryNotReq" ><br>

        <input type="submit" value="Ekle&Güncelle">
    </form>
    <br>

    <h2>Urun Sil</h2>
    <form action="{{ url_for('delete_product') }}" method="post">
        <input type="number" id="deleteId" name="deleteId" required placeholder="urun numarasi"><br>
        <input type="submit" value="sil">
    </form>
    
    <h2>Güncel Veritabanı Verileri</h2>

    <table>
        <tr>
            <th>ProductID</th>
            <th>Name</th>
            <th>Definition</th>
            <th>Price</th>
        </tr>
        {% for product in all_data %}
        <tr>
            <td>{{ product.ProductId }}</td>
            <td>{{ product.Name }}</td>
            <td>{{ product.Definition }}</td>
            <td>{{ product.Price }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>

