body {
    font-family: 'Arial', sans-serif;
    background-color: #a0a0a0;
    margin: 0;
    padding: 0;
}

table {
    width: 80%; /* Set your desired width */
    max-width: 600px; /* Optionally, set a max-width */
    margin: auto; /* Center the table horizontally */
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px; /* Adjust the padding to add space between columns */
}
th {
    background-color: #f2f2f2;
}

div {
    text-align: center;
}

a {
    text-decoration: none;
}

strong {
    text-decoration: bold;
}

h1 {
    font-size: 48px;
    color: #000000;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: colorChange 2s infinite; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes colorChange {
    0% { color: rgb(255, 255, 255);  }
    50% { color: rgb(0, 0, 0);  }
    100% { color: rgb(223, 223, 223); }
}

h2 {
    color: #000000;
    text-align: center;
}

p {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d1d1d1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(255, 136, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(248, 161, 111);
}

