<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <h1>Ali Abi Login</h1>

    <form action="{{ url_for('login_system') }}" method="post">

        <label for="loginEmail">E-mail:</label>
        <input type="text" id="loginEmail" name="loginEmail" required><br>

        <label for="loginPassword">Sifre:</label>
        <input type="password" id="loginPassword" name="loginPassword" required><br>

        <input type="submit" value="Giris">
    </form>

</body>
</html>


