<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esya Islemleri</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <a href="{{ url_for('menu') }}">
        <h1 id="cool-title">Esya Islemleri</h1>
    </a>

    <h2>Esya Numarasi ile Ara</h2>
    <form action="{{ url_for('search_item') }}" method="post">
        <input type="number" id="search_id" name="search_id" required placeholder="esya numarasi">
        <input type="submit" value="Ara">
    </form>

    {% if result %}
        <h2>Arama Sonucu:</h2>
        <div>
        <strong >ItemId:</strong> {{ result.ItemId }} - 
        <strong >ProductId:</strong> {{ result.ProductId }} - 
        <strong >ReceiptId:</strong> {{ result.ReceiptId }} - 
        <strong >DateBought:</strong> {{ result.DateBought }} -
        <strong >DateSold:</strong> {{ result.DateSold }} - 
        <strong >SellingPrice:</strong> {{ result.SellingPrice }} - 
        <strong >ArrivalPrice:</strong> {{ result.ArrivalPrice }} - 
        <strong >IsSold:</strong> {{ result.IsSold }} 
        </div>
    {% else %}
        {% if result is not defined %}
        {% else %}
            <p>Belirtilen calisan numarasi ile eşleşen veri bulunamadı.</p>
        {% endif %}
    {% endif %}

    <br>

    <h2>Yeni Veri Ekle & Güncelle</h2>
    <form action="{{ url_for('add_item') }}" method="post">
        <input type="number" id="itemId" name="itemId" required placeholder="esya numarasi"><br>
        <input type="number" id="productId" name="productId" required placeholder="urun numarasi"><br>
        <input type="number" id="receiptId" name="receiptId" placeholder="fatura numarasi"><br>
        <label for="dateBought">Alim Tarihi:</label>
        <input type="date" id="dateBought" name="dateBought" required placeholder=""><br>
        <label for="dateSold">Satis Tarihi:</label>
        <input type="date" id="dateSold" name="dateSold" placeholder=""><br>
        <input type="number" id="sellingPrice" name="sellingPrice" placeholder="satis fiyati"><br>
        <input type="number" id="arrivalPrice" name="arrivalPrice" required placeholder="alis fiyati"><br>
        <label for="isSold">urun satildi mi:</label>
        <input type="checkbox" id="isSold" name="isSold" value="true" placeholder="satildi mi"><br>
        <input type="submit" value="ekle veya guncelle">
    </form>
    
    <h2>Esya Sil</h2>
    <form action="{{ url_for('delete_item') }}" method="post">
        <input type="number" id="deleteId" name="deleteId" required placeholder="esya numarasi"><br>
        <input type="submit" value="sil">
    </form>
    
    <br>

    <h2>Güncel Veritabanı Verileri</h2>
    <table>
        <tr>
            <th>ItemID</th>
            <th>ProductID</th>
            <th>ReceiptID</th>
            <th>DateBought</th>
            <th>DateSold</th>
            <th>SellingPrice</th>
            <th>ArrivalPrice</th>
            <th>IsSold</th>
        </tr>
        {% for item in all_data %}
        <tr>
            <td>{{ item.ItemId }}</td>
            <td>{{ item.ProductId }}</td>
            <td>{{ item.ReceiptId }}</td>
            <td>{{ item.DateBought }}</td>
            <td>{{ item.DateSold }}</td>
            <td>{{ item.SellingPrice }}</td>
            <td>{{ item.ArrivalPrice }}</td>
            <td>{{ item.IsSold }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>