<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatura Islemleri</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <a href="{{ url_for('menu') }}">
        <h1 id="cool-title">Fatura Islemleri</h1>
    </a>

    <h2>Fatura Numarasi ile Ara</h2>
    <form action="{{ url_for('search_receipt') }}" method="post">
        <input type="number" id="search_id" name="search_id" required placeholder="fatura numarasi">
        <input type="submit" value="ara">
    </form>
    
    {% if result %}
        <div>
            <h2>Arama Sonuclari</h2>
            <strong>ReceiptId:</strong> {{ result.ReceiptId }} - 
            <strong>CustomerId:</strong> {{ result.CustomerId }} - 
            <strong>EmployeeId:</strong> {{ result.EmployeeId }} - 
            <strong>Date:</strong> {{ result.Date }}        
        </div> 
    {% else %}
        {% if result is not defined %}
        {% else %}
            <p>Belirtilen calisan numarasi ile eşleşen veri bulunamadı.</p>
        {% endif %}
    {% endif %}

    <br>
    <h2>Fatura Icerigini Goruntule</h2>
    <form action="{{ url_for('search_receipt_detail') }}" method="post">
        <input type="number" id="search_id_detail" name="search_id_detail" required placeholder="fatura numarasi">
        <input type="submit" value="ara">
    </form>
    {% if receipt_detail_all %}
        <table>
            
            <tr>
                <th>ReceiptId</th>
                <th>Name</th>
                <th>Definition</th>
                <th>Category</th>
                <th>SellingPrice</th>
                <th>DateSold</th>
            </tr>
            {% for receipt_detail in receipt_detail_all %}
            <tr>
                <td>{{ receipt_detail.ReceiptId }}</td>
                <td>{{ receipt_detail.Name }}</td>
                <td>{{ receipt_detail.Definition }}</td>
                <td>{{ receipt_detail.Category }}</td>
                <td>{{ receipt_detail.SellingPrice }}</td>
                <td>{{ receipt_detail.DateSold }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Belirtilen fatura numarasi ile eşleşen veri bulunamadı.</p>
    {% endif %}

    <br>

    <h2>Yeni Veri Ekle & Güncelle</h2>
    <form action="{{ url_for('add_receipt') }}" method="post">
        <input type="number" id="receiptId" name="receiptId" required placeholder="fatura numarasi"><br>
        <input type="text" id="customerId" name="customerId" required placeholder="musteri numarasi"><br>
        <input type="text" id="employeeId" name="employeeId" required placeholder="calisan numarasi"><br>
        <label for="date">Tarih:</label>
        <input type="date" id="date" name="date" required><br>
        <input type="submit" value="ekle veya guncelle">
    </form>
    
    <br>

    <h2>Fatura Numarasi Ile Detaylı Ara</h2>
    <form action="{{ url_for('receipt_info') }}" method="post">
        <input type="number" id="receipt_customer_id" name="receipt_customer_id" required placeholder="fatura numarasi"><br>
        <input type="submit" value="görüntüle">
    </form>
    
    <ul>
        {% for receipt in result_receipt %}
            <li>
                <div>
                <strong>ReceiptId:</strong> {{ receipt.ReceiptId }} - 
                <strong>CustomerName:</strong> {{ receipt.CustomerName }} - 
                <strong>CustomerSurname:</strong> {{ receipt.CustomerSurname }} - 
                <strong>EmployeeName:</strong> {{ receipt.EmployeeName }} - 
                <strong>EmployeeSurname:</strong> {{ receipt.EmployeeSurname }} - 
                <strong>Date:</strong> {{ receipt.Date }} 
                <strong>Sum:</strong> {{ receipt.SellingPriceCount }} TL
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <br>
        
    <h2>Fatura Sil</h2>
    <form action="{{ url_for('delete_receipt') }}" method="post">
        <input type="number" id="deleteId" name="deleteId" required placeholder="fatura numarasi"><br>
        <input type="submit" value="sil">
    </form>

    <h2>Güncel Veritabanı Verileri</h2>
    <table>
        <tr>
            <th>ReceiptId</th>
            <th>CustomerId</th>
            <th>EmployeeId</th>
            <th>Date</th>
        </tr>
        {% for receipt in all_data %}
        <tr>
            <td>{{ receipt.ReceiptId }}</td>
            <td>{{ receipt.CustomerId }}</td>
            <td>{{ receipt.EmployeeId }}</td>
            <td>{{ receipt.Date }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>


