body {
    font-family: 'Arial', sans-serif;
    background-color: #7c1034;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #000000;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: colorChange 2s infinite; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes colorChange {
    0% { color: rgb(52, 152, 219);  }
    20% { color: rgb(231, 76, 60);  }
    40% { color: rgb(46, 204, 113); }
    60% { color: rgb(241, 196, 15); }
    80% { color: rgb(155, 89, 182); }
    100% { color: rgb(52, 152, 219); }
}

h2 {
    color: #555;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cfe5ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #217a24;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

